doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')

    //script(src='//code.jquery.com/jquery.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')


  body
    h1 로오그인
    a.btn.btn-lg.btn-danger(href='#', tabindex='1', data-toggle='popover', data-trigger='focus', title='Dismissible popover', data-content='ddd') Dismissible popover
    button.btn.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
      | Popover on right

    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="koreateam23@naver.com")
        input(type="hidden", name="inputPassword" value="koreateam23")
        input(type="submit", value="koreateam23@naver.com")
    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="test@test.com")
        input(type="hidden", name="inputPassword" value="123123")
        input(type="submit", value="test@test.com")
    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="test1@test1.com")
        input(type="hidden", name="inputPassword" value="123123")
        input(type="submit", value="test1@test1.com")
    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="test2@test2.com")
        input(type="hidden", name="inputPassword" value="123123")
        input(type="submit", value="test2@test2.com")
    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="test3@test3.com")
        input(type="hidden", name="inputPassword" value="123123")
        input(type="submit", value="test3@test3.com")
    div.loginbox
      form(name="login", action="/auth/local/login", method="post")
        input(type="hidden", name="tmp" value="1")
        input(type="hidden", name="inputEmail" value="test4@test4.com")
        input(type="hidden", name="inputPassword" value="123123")
        input(type="submit", value="test4@test4.com")