extends layout
block head
  script(src='/js/socket/pjax_test.js')
block content
  .row.clearfix
    #wrapper
      each question in questionResult
        .post
          .nfHeader
            a(href='/mypage/#{question.user_url}')
              img(src='#{question.profile_small_url}')
              p#user_name #{question.nickname}
          a(data-pjax, href='/posts/#{question.id}')
            .nfPhoto
              img(src='#{question.question_image_url}', style='width: #{question.question_image_width}; height: #{question.question_image_height};')
            .nfContent
              | #{question.content}
          .nfFooter
            .category
              img.icon_img(src='img/icon/category.png')
              | #{question.category_name}
            .group_of_btn
              button.btn_group.questionLikeBtn(class=(question.liked)? 'liked': '', data-question-id='#{question.id}')
                img.icon_img(src=(question.liked)? '/img/icon/heart.png': '/img/icon/heart0.png')
                |#{question.like_count}

              button.btn_group(href='#')
                img.icon_img(src='img/icon/share.png')
                //|공유

              button.btn_group(href='#')
                img.icon_img(src='img/icon/bubble.png')
                |#{question.comment_count}
      nav#page-nav
        a(href='/posts?page=2&limit=' + ENUMS.LIMIT.PAGE_LOAD)