extends layout
block head

block content
  .row
    .col-md-4.col-md-offset-4
      button.close(type='button', data-dismiss='modal')
        span(aria-hidden='true') ×
        span.sr-only Close

      #login_icon
        a(href='/auth/facebook')
          #fb_icon
            img#fb_img(src='/img/modal/login_form/fb_bg.png')
            p 페이스북 계정으로 로그인
        a(href='/auth/twitter')
          #tw_icon
            img#tw_img(src='/img/modal/login_form/tw_bg.png')
            a(href='/auth/twitter')
              p 트위터 계정으로 로그인
      img#line_img(src='/img/modal/login_form/line_img.png')
      form#loginForm(role='form')
        h3 이메일로 로그인
        .row
          .col-md-2
            .form-group
              input#inputEmail.form-control(type='text', name='inputEmail', placeholder=' 이메일 주소를 입력해주세요')
            .form-group
              input#inputPassword.form-control(type='password', name='inputPassword', placeholder=' 비밀번호를 입력해주세요')
          .col-md-2
        #bottom_div
          a#pwForget(href='#')
            h5 비밀번호를 잊으셨나요?
          button#join_btn.btn-custom(type='button', data-dismiss='modal', data-toggle='modal', data-target='#registerModal') 지금 가입하기
          button#login_btn.btn-custom(type='submit', value='로그인') 로그인
  link(href='/css/login_form.css', rel='stylesheet')