extends layout
block head
  script(src='/js/post/question_view.js')
block content
  .question_wrap
    .row.row_question_view
      .question(data-question-id='#{question.question_id}', data-user-id='#{question.user_id}')
        .btns
          button.questionLikeBtn.qv_btn_group_bottom(class=(question.liked)? 'liked': '', data-question-id='#{question.question_id}')
            img.icon_img(src=(question.liked)? '/img/icon/heart.png': '/img/icon/heart0.png')
            span #{question.like_count}
            if(question.user_id == user_id)
              button#btnQuestionModify.qv_btn_group_top(type='button') 수정
              button#btnQuestionDelete.qv_btn_group_top(type='button') 삭제
          button.qv_btn_group_top(type='button') 신고
        .left
          .top
            .pf_img
              img(src='#{question.profile_small_url}')
            p#top_user_name
              | #{question.nickname}
          .bottom
            #content_img
              #question_img
                img(src='#{question.question_image_url}')
        .right
          #text.set
            .textDetail
              #label_row
                label.label_title_view
                  | 작성일
                lable#sexV.label_content #{question.created_date}
              #sex.label_row
                label.label_title_view
                  img(src='/img/sex.png')
                lable#sexV.label_content #{question.genderName}
              #category.label_row
                label.label_title_view
                  img(src='/img/category.png')
                label#categoryV.label_content #{question.categoryName}
              #content.label_row
                label.label_title_view
                  img(src='/img/content.png')
                label#contentV.label_content
                  | #{question.content}
            .table_section
              .input-group
                input#cmtText.form-control(type='text',placeholder='댓글입력')
                span.input-group-btn
                  input#cmtBtn.btn.btn-default(type='button', value='입력')
              .list-group
                each questionComment in questionComments
                  .list-group-item(data-comment-id='#{questionComment.id}')
                    div
                      span #{questionComment.nickname}
                      span #{questionComment.created_date}
                      if(questionComment.user_id == user_id)
                        .pull-right
                          button#cmtDel(value='#{questionComment.id}') x
                    div
                      | #{questionComment.content}
                      form#questionModifyForm.setting(role='form', action='/posts/#{question.question_id}' , method='POST')
                        input(type='hidden', name='_method', value='PUT')
                        #sex
                          label 성별
                          label.radio-inline
                            input#man(type='radio', name='gender', value=ENUMS.USER_GENDER.MALE, checked=(question.gender_id === ENUMS.USER_GENDER.MALE)? 'checked': undefined)
                            | 남
                          label.radio-inline
                            input#woman(type='radio', name='gender', value=ENUMS.USER_GENDER.FEMALE, checked=(question.gender_id === ENUMS.USER_GENDER.FEMALE)? 'checked': undefined)
                            | 여
                          label.radio-inline
                            input#doncare(type='radio', name='gender', value=ENUMS.USER_GENDER.UNISEX, checked=(question.gender_id === ENUMS.USER_GENDER.UNISEX)? 'checked': undefined)
                            | 무관
                        #mkb
                          label 카테고리
                          label.radio-inline
                            input#clothes(type='radio', name='category', value=ENUMS.CATEGORY.CLOTHES, checked=(question.category_id===ENUMS.CATEGORY.CLOTHES)? 'checked': undefined)
                            | 의류
                          label.radio-inline
                            input#shoes(type='radio', name='category', value=ENUMS.CATEGORY.SHOES, checked=(question.category_id===ENUMS.CATEGORY.SHOES)? 'checked': undefined)
                            | 신발
                          label.radio-inline
                            input#etc(type='radio', name='category', value=ENUMS.CATEGORY.ACCESSORY, checked=(question.category_id===ENUMS.CATEGORY.ACCESSORY)? 'checked': undefined)
                            | 잡화
                        #content
                          textarea#content.form-control(rows='10', name='content', placeholder='내용')
                            | #{question.content}
                        input#q_id(type='hidden', name='q_id', value='#{question.question_id}')
                        input.btn.btn-primary(type='submit', value='수정 완료')
    #answer_row.row.row_question_view
      #answer_line
        img(src='/img/answer_line.png')
      #answer_wrapper
        a(data-toggle='modal', data-target='#answeringModal')
          #writer_section.answer
            #answer_writer_img
              img(src='/img/icon/answer_writer.png')
            #answer_writer_text
              | 클릭하여 답변을 달아주세요.
        each answer in answers
          .answer(data-answer-id='#{answer.id}', data-user-id='#{answer.user_id}', class=(question.chopped_id == answer.id)? 'chopped': '')
            .answer_btn_group
              //button.qv_btn_group_bottom.answer_like //답변좋아요 버튼
              //  img(src='/img/icon/heart0.png')
              - var btnChop = (question.chopped_id != answer.id)? 'CHOP': 'CHOP 취소'
              button.qv_btn_group_bottom.answer_chop
                | #{btnChop}
              if(answer.user_id == user_id)
                //button.qv_btn_group_bottom.answer_modify 수정 //답변 수정 버튼
                button.qv_btn_group_bottom.answer_delete 삭제
            a(href='#{answer.link}')
              .answer_img
                img(src='#{answer.answer_image_url}', style='width: #{answer.answer_image_width}; height: #{answer.answer_image_height};')
              .bottom_answer_section
                .content_section
                  #item_name
                    | #{answer.product_name}
                  #item_price
                    | 가격 #{answer.price}
                  #item_content
                    | 내용 #{answer.content}
            .pf_section
              .answer_pf_img
                img(src='#{answer.profile_small_url}')
              #bottom_user_name
                | 닉네임 #{answer.nickname}　|등급　#{answer.grade_name}
  include /modals/answer/answer_form