extends layout
block head
  link(href='/vendor/bootstrap_datepicker/css/datepicker.css', rel='stylesheet')
  script(src='/vendor/bootstrap_datepicker/js/bootstrap-datepicker.js')
  script(src='/vendor/bootstrap_datepicker/js/locales/bootstrap-datepicker.kr.js')
  script(src='/js/validator/register_info_form.js')
  link(href='/css/register_info_form.css', rel='stylesheet')
block content
  .container
    .row.clearfix
      div#content.container
        form#registerInfoForm(role='form', method='POST', action='/user/registerInfo')
          .form-group.text_form
            label(for='nickname') 닉네임
            input#nickname.form-control(type='text', name='nickname', placeholder='1~10자의 한글, 영어')
          .form-group.text_form
            label(for='user_url') URL
            input#user_url.form-control(type='text', name='userUrl', placeholder='1~10자의 영어, 숫자')
          .form-group.text_form
            label(for='birth') 생년월일
            #birth.input-group.date
              input#birth_form.form-control(type='text', name='birth')
              span.input-group-addon
                i.glyphicon.glyphicon-th
          .form-group
            label(for='gender') 성별
            #gender.input-group
              label#male_lable.radio-inline
                input#male(type='radio', name='gender', value=ENUMS.USER_GENDER.MALE)
                span.gender_lable 남성
              label#female_lable.radio-inline
                input#female(type='radio', name='gender', value=ENUMS.USER_GENDER.FEMALE)
                span.gender_lable 여성
          button#complete_btn.btn-custom(type='submit') 입력 완료
      .col-md-4.column