body {
  background-color: #ebebeb;
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;

}

a:hover, a:focus{outline: none;}



/*로고 가운데 위치*/
.navbar-brand {
  float: none;
}
.navbar-center{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}


#wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 800px;
  margin: auto;
  margin-top: 80px;

}

/*#columns {*/
  /*-webkit-column-count: 3;*/
  /*-webkit-column-gap: 10px;*/
  /*-webkit-column-fill: auto;*/
  /*-moz-column-count: 3;*/
  /*-moz-column-gap: 10px;*/
  /*-moz-column-fill: auto;*/
  /*column-count: 3;*/
  /*column-gap: 15px;*/
  /*column-fill: auto;*/
/*}*/

.post {
  outline: none;
  display: inline-block;
  background: #FEFEFE;
  border: 1px solid;
  border-color: #eaeaea #dcdde1 #cfd1d5 #e1e2e3;
  box-shadow: 0 1px 0 rgba(198,201,206,.2);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 10px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  width: 350px;
  color: #424348;
}

.nfHeader {
  margin-bottom: 10px;
  margin-right: 20px;
  width: 300px;
  height: 40px;
}

.nfHeader img {
  float: left;
  margin-right: 13px;
  width: 38px;
  height: 38px;
}

.post .nfPhoto img{
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.nfContent {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #424348;
}

a{
  color: #424348;
}
.nfFooter {
  margin-bottom: 10px;
}

.post p {
  color: #424348;
  margin: 0;
  position: relative;
}



@media (min-width: 50px) {
  #wrapper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 780px) {
  #wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1100px) {
  #wrapper {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}



/*#columns:hover .post:not(:hover) {
  opacity: 0.8;
}*/


#user_name {
  float: left;
  margin-top: 9px;
  color: #686871;
  font-size: 14px;
  font-weight: normal;
}

.category {
  padding-top: 4px;
  float: left;
  width: 70px;
  height: 30px;
  color: #73767c;
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;
  color: #5d5d5d;
  font-weight: bold;
}

.btn_group {
  width: 77px;
  height: 30px;
  border-radius: 2px;
  border-color: #c8c9cf;
  background-color: #ffffff;
  color: #73767c;
  border-width : 1px;
  border-style: solid;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  font-size: 11px;
  margin-left: 5px;
}

button {
  outline: none;
}

.group_of_btn {

}

.icon_img {
  margin-right: 4px;
}


.chopped {
  box-shadow: 0 0 5px 5px sienna;
}

.popover{
  width:400px;
  /*height:250px;*/
}