body {
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
}



a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none; }

#pwForget:hover {
  text-decoration: underline;
  color: #3a4f83; }

.modal-content {
  background-color: #f2f2f2; }

 #login_modal {
  width: 500px; }

#login_icon {
  margin-top: 50px;
  margin-left: 55px;
  margin-right: 110px;
  white-space: nowrap; }

h3 {
  margin-left: 105px;
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: bold;
  color: #636363; }

h5 {
  float: left;
  color: #3a4f83;
  font-size: 14px;
  margin-top: 20px; }

p {
  color: #ededed;
  white-space: nowrap;
  position: absolute;
  margin: 13px 0 0 80px;
  font-size: 17px;
  font-weight: bold; }

#fb_icon {
  width: 350px;
  height: 50px;
  margin-bottom: 10px; }
  #fb_icon #fb_img {
    position: absolute; }

#tw_icon {
  width: 350px;
  height: 50px;
  margin-bottom: 5px; }
  #tw_icon #tw_img {
    position: absolute; }

#line_img {
  margin-top: 20px;
  margin-left: 55px; }

#loginForm {
  white-space: nowrap;
  margin-left: 55px;
  margin-bottom: 50px; }

.inputClass {
  width: 350px;
  height: 40px;
  font-size: 17px; }

#login_btn {
  margin-top: 12px;
  margin-left: 30px;
  width: 80px;
  height: 70px; }

#join_btn {
  clear: both;
  float: left;
  margin-top: 2px;
  width: 240px;
  height: 35px; }

.btn-custom {
  color: #efefef;
  background-color: #363636;
  border: none;
  border-radius: 5px;
}

#join_btn:hover,
#login_btn:hover {
  text-decoration: underline; }


#inputEmail, #inputPassword  {
  width: 350px;
  height: 40px;
  margin: 0px;
}

#inputPassword {
  margin-top: 27px;
}

.has-error .help-block {
  position: absolute;
  margin-top: 5px;
  color: #d15454;
  font-size: 11px;}

#bottom_div {
  margin-top: 30px;
}

