body {
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
}


.modal-dialog {
  width: 960px;
}

#modal-body {
  height: 570px;
}

.modal-content {
  background-color: #fff;
  border-radius: 3px;
}


#information {
  margin-left: 30px;
  margin-top: 25px;
  width: 710px;
}

.form-group-question {
  margin-bottom: 35px;
}


.col-lg-2 {
  margin-top: 8px;
  text-align: left;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 17px;
  margin-top: 2px;
}


input[type="checkbox"] {
  width: 18px;
  height: 18px;
  float: left;

}


span {
  text-align: left;
}

.selet_text {
    margin-right: 60px;
    margin-left: 10px;
}

.label_class {
  float: left;
  text-align: left;
  font-size: 15px;

  width: 100px;
  margin-right: 50px;
  margin-top: 5px;
  padding: 2px 0 2px 5px;
  color: #686871;
  font-weight: bold;
  /*background-color: #a7a7a7;
*/
}


.label_img {
    float: left;
   /* margin-right: 20px;*/

    margin-top: 2px;

}

.label_title {
  float: left;
}


#style_container {

  word-break: break-all;
}


.checkbox {
  width: 450px;
  float: left;
  margin-left: 20px;
}

.check_class  {
  float: left;
  margin-bottom: 10px;
}

.check_class input  {
  margin-right: 20px;
  /*margin-bottom: 20px;*/
}

.form-control {

  width: 420px;
}

textarea{resize:none;}

#picture {
  position: absolute;
  margin-left: 615px;
}


#register_btn {
  margin-left: 417px;
  width: 150px;
  height: 35px;
  color: #efefef;
  background-color: #363636;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

