.modal-dialog {
  width: 1000px;
  height: 100%;
  max-height: 100%;
}

.question_wrap {
  width: 1000px;
  margin: auto;
}

.row_question_view {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 0px;
}


.pf_img {
  float: left;
  margin-bottom: 10px;

}
.pf_img img {

  margin-right: 3px;
  width: 35px;
  height: 35px;
}

.answer_pf_img {
  float: left;
  margin-bottom: 5px;
}
.answer_pf_img img {
  margin-right: 3px;
  width: 25px;
  height: 25px;
}


.qv_btn_group_top {
  width: 50px;
  height: 30px;
  border-radius: 2px;
  border-color: #c8c9cf;
  background-color: #ffffff;
  color: #73767c;
  border-width : 1px;
  border-style: solid;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  font-size: 12px;
  margin-left: 5px;
}




.top_btn {
  margin-left: 170px;
}

#question_img {
  float: left;
}

#question_img img {
  width: 300px;

}

.label_content {
  font-weight: normal;
}


.textDetail.set {
  width: 300px;
  margin-left: 20px;
}


.input-group {
  margin-top: 20px;
}

.btns {
  float: right;
}


.top {
  margin-bottom: 20px;
}

.left {
  float: left;
  width: 320px;
}

.right {
  width: 570px;
  float: right;
  margin-top: 15px;
  margin-right: 50px;
}


.label_row {
  margin-bottom: 4px;
}

.label_title {
  width: 150px;

}


.table_section .input-group{
  margin-left: 20px;
  width: 550px;
}


/* 답변영역 css */

#top_user_name {
  float: left;
  margin-top: 6px;
  margin-left: 50px;
  margin-right: 0px;
  color: #686871;
  font-size: 14px;
  font-weight: 700;
}


#bottom_user_name {
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 0px;
  color: #686871;
  font-size: 11px;
  font-weight: 700;
}




#answer_line {
  margin-top: 10px;
  margin-bottom: 30px;
}

.answer_img img {
  float: center;
  width: 297px;
/*  margin-left: 12px;*/
  margin-bottom: 5px;
}


#answer_row {
  margin-top: 30px;
}


#writer_section {
  width: 299px;
  height: 310px;
  background-color: transparent;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
}

#writer_section:hover {
  background-color: #eeeeee;
}

 #answer_writer_img {
  margin-left: 95px;
  margin-top: 60px;
 }

#answer_writer_text {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #686871;
  font-weight: 600;
}

.qv_btn_group_bottom {
  width: 35px;
  height: 30px;
  border-radius: 2px;
  border-color: #ededed;
  background-color: #ffffff;
  color: #73767c;
  border-width : 1px;
  border-style: solid;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  font-size: 11px;
  margin-left: 5px;
}

.answer_chop {
  width: 55px;
}

.content_section {
  float: none;
  margin-top: 10px;
}

#item_name {
  float: left;
  font-size: 12px;
  font-weight: bold;
}

#item_price  {
  float: none;
  font-size: 12px;
}

#item_content {
  font-size: 11px;
}

.answer {
  width: 299px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  float: left;
  border-color: #cecece;
  border-style: dotted;
  border-width : 1px;
}


.bottom_answer_section {
  margin-bottom: 10px;
  margin-left: 5px;
}

.pf_section {
  margin-left: 5px;
}


.answer_btn_group {
  position: absolute;
  margin-left: 157px;
  display: none;
}
