body {
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
}
#register_form_modal {
  width: 500px; }

.modal-content {
  background-color: #f9f9f9; }

#join_icon {
  margin-top: 50px;
  margin-left: 55px;
  margin-right: 110px;
  white-space: nowrap; }

h6 {
  margin-left: 90px;
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: bold;
  color: #636363; }

#registerForm {
  white-space: nowrap;
  margin-left: 55px;
  margin-bottom: 120px; }

.inputClass {
  width: 350px;
  height: 40px;
  font-size: 15px; }

#confirm_btn {
  clear: both;
  float: left;
  margin-top: 22px;
  width: 350px;
  height: 40px;
  margin-bottom: 50px; }

.btn-custom {
    color: #efefef;
    background-color: #363636;
    border: none;
    border-radius: 5px;
  }


#confirm_btn:hover {
  text-decoration: underline;}



.has-error .help-block {
  font-size: 11px;
  float: left;
  position: relative;
}