body {
  font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
}

#content {
  color: #333333;
  float: center;
  width: 350px;
  margin-top: 80px;
}

label {
  margin-bottom: 10px; }

#nickname, #user_url, #birth_form {
  height: 36px;
  font-size: 15px;
  border-radius: 1px;
  border-color: #cecece; }

.input-group-addon {
  border-radius: 1px;
  background-color: #e6e6e6;
  border-color: #cecece; }

.has-success .input-group-addon {
  border-radius: 1px;
  background-color: #e6e6e6;
  border-color: #cecece;
  color: #7e7e7e; }

.form-group {
  margin-bottom: 30px; }

#male, #female {
  width: 18px;
  height: 18px; }

.gender_lable {
  margin-left: 10px;
  font-size: 17px; }

#female_lable {
  margin-left: 50px; }

#styleCheckbox {
  width: 15px;
  height: 15px;
  border-radius: 10px; }

.checkbox-inline {
  margin-right: 10px;
  margin-bottom: 10px; }

#complete_btn {
  width: 310px;
  height: 40px;
  font-size: 14px;
  color: #e9e9e9;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: #3b3b3b; }

#complete_btn:hover {
  font-weight: bold; }

.has-error .checkbox-inline {
  color: #333333; }

.has-error .radio-inline {
  color: #333333; }

.has-success .radio-inline {
  color: #333333; }

.has-success .checkbox-inline {
  color: #333333; }

.has-error .help-block {
  position: absolute;
  color: #d15454; }

.has-error .input-group-addon {
  border-radius: 1px;
  background-color: #e6e6e6;
  border-color: #cecece;
  color: #7e7e7e; }
