#answeringModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body(style='height:700px')
        form#answerForm.form-horizontal(role='form')
          #information.col-lg-10
            .form-group
              label.col-lg-2(for='product') 상품명
              .col-lg-10
                input.form-control#product(type='text', name='product')
            .form-group
              label.col-lg-2(for='price') 가격
              .col-lg-10
                input.form-control#price(type='text', name='price')
            .form-group
              label.col-lg-2(for='link') 링크
              .col-lg-10
                input.form-control#link(type='text', name='link')
            .form-group
              label.col-lg-2(for='content') 내용
              .col-lg-10
                textarea.form-control#content(rows='10', name='content', placeholder='내용')
            .form-group
              input#questionId(type='hidden', name='questionId', value='#{question.question_id}')
              .col-lg-2
              .col-lg-10
                //button.btn.btn-danger(data-dismiss='modal') 취소
                button.btn.btn-success(type='submit') 확인
          #picture.col-lg-2
            input(type='file', id='imgs', name='imgs')