ul.list-group
  if !notifications
    | 아직 알림 내용이 없습니다
  each notification in notifications
    li.list-group-item(data-qid=notification.qid)
      span.snik
        | #{notification.snik}
      | 님이&nbsp;
      if notification.own
        | 내&nbsp;
      case notification.evt
        when ENUMS.EVENT_ID.ANSWER
          | 질문에 답변을 남겼습니다.
        when ENUMS.EVENT_ID.COMMENT
          | 질문에 댓글을 남겼습니다.
        when ENUMS.EVENT_ID.QUESTION_LIKE
          | 질문에 좋아요를 남겼습니다.
        when ENUMS.EVENT_ID.ANSWER_LIKE
          | 답변에 좋아요를 남겼습니다.
      | &nbsp;#{notification.cdate}