#registerModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog#register_form_modal
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        #join_icon
          a(href='/auth/facebook')
            #fb_icon
              img#fb_img(src='/img/modal/login_form/fb_bg.png')
              p 페이스북 계정으로 가입
          a(href='/auth/twitter')
            #tw_icon
              img#tw_img(src='/img/modal/login_form/tw_bg.png')
              p 트위터 계정으로 가입
        img#line_img(src='/img/modal/login_form/line_img.png')
        form#registerForm(role='form', method='POST', action='/auth/local/signIn')
          h6 이메일로 가입하기
          .form-group
            input#inputEmail.form-control(type='text', name='inputEmail', placeholder=' 이메일 주소를 입력해주세요')
          .form-group
            input#inputPassword.form-control(type='password', name='inputPassword', placeholder=' 비밀번호를 입력해주세요')
          .form-group
            input#inputPassword.form-control(type='password', name='reInputPassword', placeholder=' 비밀번호를 다시 한 번 입력해주세요')
          button#confirm_btn.btn-custom(type='submit') 가입하기
  //script(src='/js/validator/register_form.js')
  link(href='/css/register_form.css', rel='stylesheet')