meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='/vendor/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
link(href='/vendor/bootstrap_validator/dist/css/bootstrapValidator.min.css', rel='stylesheet')

link(href='/css/index.css', rel='stylesheet')
link(href='/css/question_view.css', rel='stylesheet')
link(href='/css/answer_form.css', rel='stylesheet')

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery/jquery-1.11.1.min.js')
script(src='/vendor/pjax/jquery.pjax.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(src='/vendor/bootstrap_validator/dist/js/bootstrapValidator.min.js')

script(src='/vendor/masonry/masonry.pkgd.min.js')
script(src='/vendor/imagesLoaded/imagesloaded.pkgd.min.js')
script(src='/vendor/infinitescroll/jquery.infinitescroll.min.js')

script(src='/js/validator/login_form.js')
script(src='/js/post/data.js')