#questionModal.modal.fade(data-pjax-container, tabindex='-1', role='dialog', aria-hidden='true')
#postingModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
include /modals/login_form
include /modals/register/register_form
