.row.clearfix
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation', data-sess=sessionFlag)
    .navbar-collapse.collapse
     a.navbar-brand.navbar-center(href='#') CHOPSTER
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') #{sessionFlag}
        if !sessionFlag
          li
            a(href='#', data-toggle='modal', data-target='#registerModal') 회원가입
          li
            a(href='#', data-toggle='modal', data-target='#loginModal') 로그인
        if sessionFlag
          li
            a(href='/posts/new', data-toggle='modal', data-target='#postingModal') 질문하기
          li
            a#notiBtn.btn.btn-lg.btn-danger(href='#', data-toggle='popover') 알림
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Dropdown
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/mypage') 마이페이지
              li
                a(href='#') 프로필변경
              li.divider
              li
                a(href='/logout') 로그아웃