extends ../layout
block head
block content
  br
  br
  br
  .container
    input#userId(type='hidden', value='#{user.id}')
    .introduction.col-md-3
      .myProfile(style='width:100%; text-align:center')
        img(src='#{user.small_url}')
        a(href='/mypage/#{user.user_url}')
          label.col-md-12 #{user.nickname}
        label.col-md-12 #{user.grade}
        label #{user.introduce}
        if(own)
          button.modifyInfoBtn(type='button') 수정하기
        else if(follow)
          label#followState 현재 내가 팔로우 중인 사람입니다.
          button.toFollow.liked(type='button') 팔로우 취소
        else
          button.toFollow(type='button') 팔로우 하기
    .btn-group
      button#chopBtn.btn.btn-default(type='button') My chop
      button#questionBtn.btn.btn-default(type='button') My question
      button#answerBtn.btn.btn-default(type='button') My answer
      button#followerBtn.btn.btn-default(type='button') My follower
      button#followingBtn.btn.btn-default(type='button') My following

    .information
      |FF

  script(src='/js/mypage.js')
