#wrapper
  #columns
    - each question in questionResult
      .pin
        .nfHeader
          img(src='#{question.small_url}')

          p#user_name #{question.nickname}

        - if(question.url)
          .nfPhoto
            a(href='/posting/detail/'+'#{question.id}', data-toggle='modal', data-target='#questionModal')
              img(src='#{question.url}')
        .nfContent
          a(href='/posting/detail/'+'#{question.id}', data-toggle='modal', data-target='#questionModal')
            | #{question.content}
        .nfFooter
          .category
            img.icon_img(src='/img/icon/category.png')
            | #{question.category}
          .group_of_btn
            button.btn_group(href='#')
              img.icon_img(src='/img/icon/heart.png')
              |CHOP
            - if(question.liked > 0)
              button.btn_group.questionLike.liked(value='#{question.id}')
                |좋아요 취소(#{question.likes})
                img.icon_img(src='/img/icon/share.png')
            - else
              button.btn_group.questionLike(value='#{question.id}')
                |좋아요(#{question.likes})
                img.icon_img(src='/img/icon/share.png')
            button.btn_group(href='#')
              //img.icon_img(src='img/icon/bubble.png')
              |댓글 (#{question.count})

link(href='/css/index.css', rel='stylesheet')
script(src='/js/post/data.js')