extends ../layout
block head
  link(href='/bootstrap_datepicker/css/datepicker.css', rel='stylesheet')
  script(src='/bootstrap_datepicker/js/bootstrap-datepicker.js')
  script(src='/bootstrap_datepicker/js/locales/bootstrap-datepicker.kr.js')
  script(src='/js/validator/modify_form.js')
  script(src='/js/account.js')
block content
  br
  br
  br
  #certificationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          //form#certForm(role='form', method='POST', name='cert')
          //  .form-group
          //    label(for='email', style='width=20%') 이메일
          //    input#certEmail(type='text', name='email')
          //   .form-group
          //    label(for='password', style='width=20%') 비밀번호
          //    input#certPassword(type='password', name='password')
          //  input(type='submit', value='인증')
          //form#changePassword(role='form')
          //  .form-group
          //    label(for='password', style='width=20%') 현재 비밀번호
          //    input#presentPassword(type='password', name='presentPassword')
          //  .form-group
          //    lable(for='password', style='width=20%') 변경할 비밀번호
          //    input#inputPassword(type='password', name='inputPassword')
          //  .form-group
          //    lable(for='password', style='width=20%') 비밀번호 확인
          //    input#reInputPassword(type='password', name='reInputPassword')
          //  input(type='submit', value='변경하기')

          form#changePassword(role='form')
            .form-group
              label(for='password', style='width=20%') 현재 비밀번호
              input#presentPassword(type='password', name='presentPassword')
            .form-group
              lable(for='password', style='width=20%') 변경할 비밀번호
              input#inputPassword(type='password', name='inputPassword')
            .form-group
              lable(for='password', style='width=20%') 비밀번호 확인
              input#reInputPassword(type='password', name='reInputPassword')
            button(type='submit', value='변경하기') 변경하기



  .container
    .btn-group-vertical.col-md-3
      button.btn.btn-default(type='button') 계정
      button.btn.btn-default(type='button') 알림
      button.btn.btn-default(type='button') 소셜 네트워크



    #hole.col-md-9
      #account
        h2 계정
        form#modifyForm.form-horizontal(role='form', method='POST')
          .form-group
            label(for='email', style='width=20%') 이메일
            input#email(type='text', name='email', value='#{info.email}')
          .form-group
            label(for='password', style='width=20%') 비밀번호
             a(data-toggle='modal', data-target='#certificationModal') 비밀번호 변경하기
          .form-group
            label(for='nickname', style='width=20%') 닉네임
            input#nickname(type='text', name='nickname', value='#{info.nickname}')
          .form-group
            label(for='url', style='width=20%') URL
            input#user_url(type='text', name='user_url', value='#{info.user_url}')
          input.btn.btn-default(type='submit', value='수 정')



        a(href="#") 계정 비활성화

      #alarm
        h2 알림
        form.form-horizontal(role='form')
          label.col-md-2(for='chop') 찹
          .col-md-10
            button ON
          label.col-md-2(for='answer') 답변
          .col-md-10
            button ON
          label.col-md-2(for='like') 좋아요
          .col-md-10
            button ON
          label.col-md-2(for='follow') 팔로우
          .col-md-10
            button ON
          label.col-md-2(for='comment') 댓글
          .col-md-10
            button ON
      #social
