#wrapper
  #colums
    - each user in userResult
      .pin
        .userPhoto
          a(href='#')
            img(src='#{user.small_url}')
        .userContent
          a(href='/mypage/#{user.id}')
            label.col-md-6 #{user.nickname}
          label.col-md-6 #{user.grade}


link(href='/css/index.css', rel='stylesheet')
script(src='/js/post/data.js')

