.modal-body#modal-body
  form#questionForm.form-horizontal(role='form')
    div#information.container
      #picture
        input#imgs(type='file', name='imgs')

      .form-group.form-group-question
        img.label_img(src='/img/sex.png')
        label(class='radio-inline')
          input#man(type='radio', name='gender', value=ENUMS.USER_GENDER.MALE, checked=(gender_id === ENUMS.USER_GENDER.MALE)? 'checked': undefined)
          span.selet_text 남　
        label(class='radio-inline')
          input#woman(type='radio', name='gender', value=ENUMS.USER_GENDER.FEMALE, checked=(gender_id === ENUMS.USER_GENDER.FEMALE)? 'checked': undefined)
          span.selet_text 여　
        label(class='radio-inline')
          input#dontcare(type='radio', name='gender', value=ENUMS.USER_GENDER.UNISEX, checked=(gender_id === ENUMS.USER_GENDER.UNISEX)? 'checked': undefined)
          span.selet_text 무관
      .form-group.form-group-question
        img.label_img(src='/img/category.png')
        label(class='radio-inline')
          input#clothes(type='radio', name='category', value=ENUMS.CATEGORY.CLOTHES)
          span.selet_text 의류
        label(class='radio-inline')
          input#shoes(type='radio', name='category', value=ENUMS.CATEGORY.SHOES)
          span.selet_text 신발
        label(class='radio-inline')
          input#etc(type='radio', name='category', value=ENUMS.CATEGORY.ACCESSORY)
          span.selet_text 잡화
      .form-group.form-group-question
        //- div.label_class(for='content') 내용
        img.label_img(src='/img/content.png')
        textarea#content.form-control(rows='5', name='content', placeholder='내용')

      .form-group.form-group-question
         input#register_btn.btn-custom(type='submit', value='작 성')
  script(src='/js/post/question_form.js')
  link(href='/css/question_form.css', rel='stylesheet')